In [8]:
#import pandas library
import pandas as pd
import os
import glob

#list of csv files
all_files = glob.glob(os.path.join(r"C:\Users\pages", "*.csv"))
#create empty dataframe
df_final = pd.DataFrame()
df_list=[]
#loop through list and append to dataframe
for filename in all_files:
    df = pd.read_csv(filename)
    df_list.append(df)
        
df_final = pd.concat(df_list,ignore_index=True)  

df_final.to_csv('all_pages.csv')

In [9]:
df_final

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,price,year built,sqft,beds,bathroom,price_sqft,Property_Type,grage,HOA Fees,Address,Time On Web,sqft lot
0,0,0,0,"$330,000",1920.0,"2,600",7,3,$127,Multi-Family,2 cars,NaN,"8034 S Aberdeen St, Chicago, IL 60620",3 Hours,"3,920"
1,1,1,1,"$159,000",1885.0,"3,000",3,1.5,$53,Single Family,2 cars,NaN,"712 W 48th St, Chicago, IL 60609",17 Hours,NaN
2,2,2,2,"$249,500",1885.0,"1,512",3,2.5,$165,Single Family,2 cars,NaN,"1321 S Christiana Ave, Chicago, IL 60623",19 Hours,"3,125"
3,3,3,3,"$399,000",NaN,"3,738",6,3,$107,Single Family,2 cars,NaN,"1233 W 95th Pl, Chicago, IL 60643",21 Hours,NaN
4,4,4,4,"$795,000",2023.0,NaN,3,3.5,NaN,Townhome,2 cars,$288/mo,"4154 W Cullom Ave, Chicago, IL 60641",23 Hours,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,4994,2494,37,"$585,000",2022.0,NaN,3.0,2,NaN,Condo,1 car,$285/mo,"514 N Leavitt St Unit 203, Chicago, IL 60612",80 Days,NaN
4995,4995,2495,38,"$699,000",2022.0,NaN,3.0,2,NaN,Condo,1 car,$285/mo,"514 N Leavitt St Unit 404, Chicago, IL 60612",80 Days,NaN
4996,4996,2496,39,"$1,999,000",2022.0,"4,000",5.0,4.5+,$500,Single Family,2 cars,NaN,"2419 N Greenview Ave, Chicago, IL 60614",80 Days,"2,925"
4997,4997,2497,40,"$679,000",2022.0,NaN,3.0,2,NaN,Condo,1 car,$285/mo,"514 N Leavitt St Unit 205, Chicago, IL 60612",80 Days,NaN
4998,4998,2498,41,"$949,000",2022.0,"3,300",3.0,2.5,$288,Condo,1 car,$225/mo,"1520 N Ashland Ave Unit 2, Chicago, IL 60622",80 Days,NaN